.instructionsText {
  text-align: center
}

.navBtnsWrapper {
  display: flex;
  justify-content: space-between
}

.imageDemo {
  margin: 0 auto;
  display: block;
  transition: transform .5s ease-in-out;
}

.imageDemo[hidden] {
  opacity: 0.1;
}